/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheethttps://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet');

/* shared style */
* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* header styles */
/* nav styles */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 35px;
    border-radius: 10px;

}

.nav-title {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
}

.image-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.img-i {
    height: 50px;
}

.btn-a {
    display: flex;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500
}

nav li a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}

.btn-pri {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: 0;
}

.g {
    color: #FF42A5;
}

/* banner related style */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.banner-content {
    background-color: rgba(140, 87, 238, 0.03);
    width: 100%;
    padding: 125px;
}

.contain {
    text-align: center;
}

.ban-fh {
    color: #0B0223;
    text-align: left;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 10px;
}

.goat {
    text-align: left;
    font-size: 95px;
    font-weight: 700;
    color: #a70dcec9;
    margin-top: 0%;
    margin-bottom: 10px;
}

.first-one {
    display: flex;
    align-items: center;
    gap: 5px;

}

#btn {
    display: flex;
    margin-top: 20px;
}

.btn1 {
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background-color: #FF42A5;
    color: #FFFFFF;
    border: 0;
    margin-right: 10px;
}

.btn2 {
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFFFFF;
    border: 0;
}

.fdes {
    color: #534C64;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}

/* main style */
/* gamer section style */
.gamer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 80px;
}

.gammer-banner {
    justify-content: right;
}

.gamer-head {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    color: #a8119c;
    margin-bottom: 20px;
}

.gamer-des {
    color: #534C64;
    text-align: right;
    font-size: 15px;
    font-weight: 400;
}

.btng {
    display: flex;
    justify-content: flex-end;
}

.btn-gamer {
    padding: 15px 20px;
    /* margin-left: 350px; */
    text-align: right;
    gap: 10px;
    border-radius: 48px;
    background-color: #FF42A5;
    color: #FFF;
    border: 0;
}

.gamer-last {
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
}

.bold {
    font-weight: 700;
}

/* online game styles */
.onlineg {
    margin-top: 20px;
    padding: 50px 120px;
}

.og-header {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 5px;
}

.funny {
    color: #9e1bbe;
}

.ogdes {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.games-cart {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

.games-cart .og {
    text-align: center;
    padding: 5px;
}

.gn,
.gn1 {
    width: 250px;
    height: 250px;
}

.gn1 {
    border-radius: 10px;
}

.img-co {
    width: 100%;
    height: 100%;
    position: relative;
}

.img-co:hover .in-img {
    opacity: 1;
    color: #FF42A5;
    font-size: 18px;
    font-weight: 400;
}


.gdes {
    color: #534C64;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
}

.in-img {
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.507);
    opacity: 0;
}

/* play instant section */
.play-instant {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;



}

.play-instant-des {
    height: 350px;
    width: 350px;
    padding: 85px;
}

.instant-head {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
}

.head-edit {
    color: #7c1577;
}

.instant-des {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
}

.instant-img {
    width: 480px;

}

.hrs {
    width: 100%;
}

.cute-cat {
    width: 200px;
    height: 200px;
    position: relative;
    bottom: 180px;
    right: 80px;
    border-radius: 8px;
}

#cute {
    width: 100%;
}

/* type of games style  */
.diff-game {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 100px;
}

.gm {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.game-des {
    font-size: 20px;
    font-weight: 600;
}

.gm:hover {
    border: 1px solid palevioletred;
    border-radius: 50px;
    background: #FFF;
    color: palevioletred;
}

/* footer related styles */
.footer {
    background: #0B0223;
    padding: 100px;
}

.footer-title {
    color: #FFF;
}

.fimage-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.footer-cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}

.footer-des {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}

.last-des {
    display: flex;
    justify-content: space-evenly;
    align-items: center
}

.ldes {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.small {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}


/* responsive styles */
/* smartphone */

@media screen and (max-width:576px) {

    nav,
    .img-content,
    .btn-a,
    ul,
    .gamer,
    .games-cart,
    .play-instant {
        flex-direction: column;
        padding: 5px;
    }

    .banner {
        flex-direction: column-reverse;
        align-items: center;
        padding: 100px;
    }

    .banner-img {
        width: 470px;
    }

    .banner-img img {
        width: 100%;
    }


    .ban-fh {
        font-size: 40px;
        font-weight: 500;
    }

    .goat {
        font-size: 75px;
        font-weight: 700;
    }

    .nav-title {
        text-align: center;
        font-size: 1.2em;
        font-weight: 600;
        margin-bottom: 0px;
    }

    .gamer-head,
    .gamer-des,
    .gamer-last {
        text-align: center;
    }

    .btng {
        justify-content: center;
    }

    .og-header {
        font-size: 30px;
    }

    .instant-head,
    .instant-des {
        text-align: center;
    }

    .instant-img {
        width: 440px;
    }

    .hrs {
        width: 100%;
    }

    .cute-cat {
        width: 230px;
        position: relative;
        bottom: 200px;
        right: 30px;
        border-radius: 8px;
    }

    #cute {
        width: 90%;
    }

    .diff-game {
        width: 576px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 5px;
    }
}

/* medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {

    nav,
    .img-content,
    .btn-a,
    ul,
    .gamer,
    .games-cart,
    .play-instant {
        flex-direction: column;
        padding: 5px;
    }

    .banner {
        flex-direction: column-reverse;
        justify-content: center;
        /* padding: 150px; */
    }

    .ban-fh {
        font-size: 40px;
        font-weight: 500;
        text-align: center;
    }

    .instant-head,
    .instant-des {
        text-align: center;
    }

    .first-one {
        justify-content: center;
    }

    #btn {
        justify-content: center;
    }

    .goat {
        font-size: 80px;
        font-weight: 700;
        text-align: center;
    }

    .nav-title {
        text-align: center;
        font-size: 1.2em;
        font-weight: 600;
        margin-bottom: 0px;
    }

    .gamer-head,
    .gamer-des,
    .gamer-last {
        text-align: center;
    }

    .btng {
        justify-content: center;
    }

    .diff-game {
        width: 576px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 150px;
    }
}